@page "/shoppingcart"
@using BookBlazorWasmCustomer.Services
@inject BookEntryService BookEntryService;
@inject IOrderApiClient _apiClient;
@code {
    [Parameter] public Guid BookId { get; set; }
    public List<Guid> BookEntryIds { get; set; } = new List<Guid>();

    public void IncreaseQuantity(Guid bookEntryId)
    {
        var bookEntry = BookEntryService.BookEntrys.FirstOrDefault(be => be.BookId == bookEntryId);
        if (bookEntry != null)
        {
            bookEntry.Quantity++;
        }
    }

    public void DecreaseQuantity(Guid bookEntryId)
    {
        var bookEntry = BookEntryService.BookEntrys.FirstOrDefault(be => be.BookId == bookEntryId);
        if (bookEntry != null && bookEntry.Quantity > 0) // Đảm bảo không giảm dưới 0
        {
            bookEntry.Quantity--;
        }
    }
    public void Test()
    {
        foreach (var item in BookEntryService.BookEntrys)
        {
            Console.WriteLine($"{item.BookId} + {item.Quantity}");
        }

    }
    public async Task HandleOrder()
    {
        await _apiClient.CreateOrder(BookEntryService.BookEntrys);

        // foreach (var item in BookEntryService.BookEntrys)
        // {
        //     Console.WriteLine(item.BookId);
        //     Console.WriteLine(item.Quantity);
        // }
    }
}

<div class="row">
    <div class="col-3"></div>
    @if (BookEntryService.BookEntrys == null)
    {
        <p>No items in the shopping cart.</p>
    }
    else
    {
        <div class="col-6">
            <table class="table">
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Số lượng</th>
                        <th>Hành động</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in BookEntryService.BookEntrys)
                    {
                        <tr>
                            <td>@item.BookId</td>
                            <td>@item.Quantity</td>
                            <td>
                                <button class="btn btn-success" @onclick="() => IncreaseQuantity(item.BookId)">+</button>
                                <button class="btn btn-danger" @onclick="() => DecreaseQuantity(item.BookId)">-</button>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
</div>

<button class="btn btn-danger" onclick="@Test">test</button>
<button class="btn btn-danger" onclick="@HandleOrder">Order</button>
@* <table>
    <tr class="row m-0">
        <td class="col-2">

        </td>
        <td class="col" style="padding:50px 100px;background-color: #fffaf8">
            <h1>Checkedout</h1>
            <table class="table table-bordered">
                <thead>
                    <tr style="background-color:#fafafa">
                        <th scope="col" style="text-align:center">Item Name</th>
                        <th scope="col" style="text-align:center">Item Price</th>
                        <th scope="col" style="text-align:center">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="row m-0">
                            <div class="col-4">
                                <img src="https://websitedemos.net/kathryn-ebook-author-02/wp-content/uploads/sites/1020/2022/02/hero-image01.png" class="rounded mx-auto d-block" alt="..." style="height: 50px; width:30px">
                            </div>
                            <div class="col-8">
                                This Dark Road to Mercy
                            </div>

                        </td>
                        <td>$6.75</td>
                        <td><a class="text-decoration-none" style="text-decoration: underline;">Remove</a></td>
                    </tr>
                    <tr>
                       
                        <td colspan="3" style="text-align: right">
                            <span style="font-weight:bold">Total:$6.75</span>
                        </td>
                    </tr>

                </tbody>
            </table>

            <table class="table table-bordered">
                <thead>
                    <tr style="background-color:#fafafa">
                        <th scope="col">Select payment method</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="row m-0">
                            <div class="col-6">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault1">
                                <label class="form-check-label" for="flexRadioDefault1" style="font-weight: bold">
                                    Credit Card
                                </label>
                            </div>
                            <div class="col-6">
                                <input class="form-check-input" type="radio" name="flexRadioDefault" id="flexRadioDefault2" checked>
                                <label class="form-check-label" for="flexRadioDefault2" style="font-weight: bold">
                                    PayPal
                                </label>
                            </div>
                        </td>

                    </tr>

                </tbody>
            </table>

            <table class="table table-bordered">
                <thead>
                    <tr style="background-color:#fafafa">
                        <th>Personal info</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            Email address <span style="color: red;">*</span> <span style="opacity: 0.5;">We will send the purchase receipt to this address.</span>
                            <input type="text" class="form-control" placeholder="Email address" aria-label="Example text with button addon" aria-describedby="button-addon1">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            First name <span style="color: red;">*</span> <span style="opacity: 0.5;">We will use this to personalize your account experience.</span>
                            <input type="text" class="form-control" placeholder="First name" aria-label="Example text with button addon" aria-describedby="button-addon1">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Last name<span style="opacity: 0.5;">We will use this as well to personalize your account experience.</span>
                            <input type="text" class="form-control" placeholder="Last name" aria-label="Example text with button addon" aria-describedby="button-addon1">
                        </td>
                    </tr>
                </tbody>
            </table>

            <table class="table table-bordered">
                <thead>
                    <tr style="background-color:#fafafa">
                        <th>Billing details</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            Billing address  <span style="opacity: 0.5;">The primary billing address for your credit card.</span>
                            <input type="text" class="form-control" placeholder="Address line 1" aria-label="Example text with button addon" aria-describedby="button-addon1">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Billing address line 2 (optional) <span style="opacity: 0.5;">The suite, apt no, PO box, etc, associated with your billing address.</span>
                            <input type="text" class="form-control" placeholder="Address line 1" aria-label="Example text with button addon" aria-describedby="button-addon1">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Billing city  <span style="color: red;">*</span><span style="opacity: 0.5;">The city for your billing address.</span>
                            <input type="text" class="form-control" placeholder="City" aria-label="Example text with button addon" aria-describedby="button-addon1">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Billing zip/Postal code <span style="color: red;">*</span><span style="opacity: 0.5;">Billing zip/Postal code.</span>
                            <input type="text" class="form-control" placeholder="Zip/Postal code" aria-label="Example text with button addon" aria-describedby="button-addon1">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Billing country <span style="color: red;">*</span><span style="opacity: 0.5;">The country for your billing address.</span>
                            <select class="form-select" aria-label="Default select example">
                                <option selected disabled>Select a country</option>
                                <option value="AF">Afghanistan</option>
                                <option value="AL">Albania</option>
                                <option value="DZ">Algeria</option>                              
                             
                         
                            </select>
                        </td>
                    </tr>
                </tbody>
            </table>

            <table class="table table-bordered">
                <thead>
                    <tr style="background-color:#fafafa">
                        <th scope="col">Payment Info</th>

                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="row m-0">
                            <div class="col-1">
                                <img src="https://static.vecteezy.com/system/resources/previews/000/581/808/original/lock-icon-vector-illustration.jpg" class="img-thumbnail" alt="...">
                            </div>
                            <div class="col-6">
                                This is a secure SSL encrypted payment.
                            </div>
                        </td>
                    </tr>

                </tbody>
            </table>


            <table class="table table-bordered">
                <tr>
                    <td>
                        <span style="font-weight:bold">Purchase Total:</span> $6.75
                    </td>
                </tr>
            </table>

            <button type="button" class="btn btn-success">Purchase</button>
        </td>
        <td class="col-5"></td>
    </tr>
</table> *@