@page "/contact"

@* <table>
    <tr class="row m-0"
        style="height: 450px; width: 1897px;">
        <td class="col-12" style="background-color:#fcebe6">
           <div style="margin-top: 150px">
                <h1 style="text-align:center; font-family:'Times New Roman', Times, serif; font:bold; font-size: 70px">Contact</h1>
                <h6 style="text-align: center">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit</h6>
           </div>
        </td>
    </tr>

    <tr class="row m-0"
        style="width:1897px">
       <td class="col-3"></td>
       <td class="col-6">
            <div style="width:820px; padding:50px 60px;margin-top:-100px; margin-left: 50px;background-color:#fff !important;box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3)">
                <h1>Get In Touch</h1>
                <h6 style="color:#fcebe6">Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit</h6>
                <h5 style="color:#fcebe6"><img src="https://static.vecteezy.com/system/resources/previews/000/547/340/original/envelope-mail-icon-vector-illustration.jpg" class="img-thumbnail" style="height: 50px; width:50px">   mail@example.com</h5>
                <hr style="border: 1px solid #946659; width: 100%; margin: 20px auto;">

                <h3 style="color:#946659">Send Me a Message</h3>

                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Your name" aria-label="Recipient's username" aria-describedby="button-addon2">
                </div>

                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Email" aria-label="Recipient's username" aria-describedby="button-addon2">
                </div>

                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Subject" aria-label="Recipient's username" aria-describedby="button-addon2">
                </div>

                <div class="form-floating">
                    <textarea class="form-control" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 100px"></textarea>
                    <label for="floatingTextarea2">Message</label>
                </div>
                <br />
                <br />
                <button type="button" class="btn btn-primary btn-lg">Send Message</button>

                <h3 style="margin-top: 50px; padding: 0px 0px 20px 12px">Follow me</h3>
                <div>
                    <table>
                        <tr class="row m-0">
                            <th class="col-3">
                                <button class="btn btn-primary" style="width: 50px; height: 50px; padding: 0; border-radius: 50%; overflow: hidden; display: flex; align-items: center; justify-content: center;">
                                    <img src="https://clipground.com/images/facebook-logo-png-transparent-background-black-1.png" alt="icon" style="width: 100%; height: 100%; object-fit: cover; border-radius: 50%;">
                                </button>
                            </th>
                            <th class="col-3">
                                <button class="btn btn-primary" style="width: 50px; height: 50px; padding: 0; border-radius: 50%; overflow: hidden; display: flex; align-items: center; justify-content: center;">
                                    <img src="https://www.pngkey.com/png/full/84-842567_twitter-logo-black-png.png" alt="icon" style="width: 100%; height: 100%; object-fit: cover; border-radius: 50%;">
                                </button>
                            </th>
                            <th class="col-3">
                                <button class="btn btn-primary" style="width: 50px; height: 50px; padding: 0; border-radius: 50%; overflow: hidden; display: flex; align-items: center; justify-content: center;">
                                    <img src="https://static.vecteezy.com/system/resources/previews/023/986/739/non_2x/youtube-logo-youtube-logo-transparent-youtube-icon-transparent-free-free-png.png" alt="icon" style="width: 100%; height: 100%; object-fit: cover; border-radius: 50%;">
                                </button>
                            </th>
                        </tr>
                    </table>
                </div>
            </div>
       </td>
       <td class="col-3"></td>
    </tr>

    <tr style="height:652px; background-color:#fcebe6" class="row m-0">
        <td class="col-2"></td>
        <td class="col-3">
            <div>
                <h1 style="margin-top: 150px">Subscribe Now to Get</h1>
                <h1>Regular Updates</h1>

                <div class="input-group flex-nowrap" style="margin-top: 50px">
                  <input type="text" class="form-control" placeholder="Your email" aria-label="Username" aria-describedby="addon-wrapping">
                  <button type="button" class="btn btn-primary btn-lg">Submit</button>
                </div>
            </div>
        </td>
        <td class="col-4" style="margin-top: 50px; margin-left: 150px">
            <img src="https://websitedemos.net/kathryn-ebook-author-02/wp-content/uploads/sites/1020/2022/02/susbcribe-image.png" class="rounded mx-auto d-block" alt="...">
        </td>
        <td class="col-1"></td>
        
    </tr>
    
    <tr style="height: 175px; background-color: black; color: white" class="row m-0">
        <td class="col-1">
        </td>
        <td class="col-3" style="margin-top: 70px">
            <h1>Kathryn Moris</h1>

        </td>
        <td class="col-5">
            <div style="margin-left: 150px">
                <a href="/home" style="display: inline-block; margin-right: 10px; margin-top: 90px; font-size: 24px">Home</a>
                <a style="display: inline-block; margin-right: 10px; margin-top: 90px; font-size: 24px">Books</a>
                <a style="display: inline-block; margin-right: 10px; margin-top: 90px; font-size: 24px">Bio</a>
                <a style="display: inline-block; margin-right: 10px; margin-top: 90px; font-size: 24px">Contact</a>
            </div>
        </td>
        <td class="col-2">
            <table style="margin-top: 70px">
                <tr class="row m-0">
                    <th class="col-3">
                        <button class="btn btn-primary" style="width: 50px; height: 50px; padding: 0; border-radius: 50%; overflow: hidden; display: flex; align-items: center; justify-content: center;">
                            <img src="https://clipground.com/images/facebook-logo-png-transparent-background-black-1.png" alt="icon" style="width: 100%; height: 100%; object-fit: cover; border-radius: 50%;">
                        </button>
                    </th>
                    <th class="col-3">
                        <button class="btn btn-primary" style="width: 50px; height: 50px; padding: 0; border-radius: 50%; overflow: hidden; display: flex; align-items: center; justify-content: center;">
                            <img src="https://www.pngkey.com/png/full/84-842567_twitter-logo-black-png.png" alt="icon" style="width: 100%; height: 100%; object-fit: cover; border-radius: 50%;">
                        </button>
                    </th>
                    <th class="col-3">
                        <button class="btn btn-primary" style="width: 50px; height: 50px; padding: 0; border-radius: 50%; overflow: hidden; display: flex; align-items: center; justify-content: center;">
                            <img src="https://th.bing.com/th/id/OIP.R2cOOjNvppTP37HYRepM-wHaHa?rs=1&pid=ImgDetMain" alt="icon" style="width: 100%; height: 100%; object-fit: cover; border-radius: 50%;">
                        </button>
                    </th>
                </tr>
            </table>
        </td>
    </tr>
    <tr style="height: 2px; background-color: #fcebe6; color: white" class="row m-0">
    </tr>
    <tr style="height: 100px; background-color: black; color: white" class="row m-0">
        <td style="text-align: center; margin-top: 50px" class="col-12">
            <h6>Copyright © 2024 eBook Author | Powered by eBook Author</h6>
        </td>
    </tr>
</table> *@

