@page "/author/detail"
<h3>AuthorDetail</h3>
<form>
    <div class="mb-3">
        <label for="idAuthor" class="form-label">AuthorId</label>
        <input type="text" class="form-control" id="idAuthor" required>
    </div>
    <div class="mb-3">
        <label for="nameAuthor" class="form-label">AuthorName</label>
        <input type="text" class="form-control" id="nameAuthor" required>
    </div>
    <div class="mb-3">
        <label for="birth" class="form-label">Birth	</label>
        <input type="number" class="form-control" id="birth" required>
    </div>
    <div class="mb-3">
        <label for="imageAuthor" class="form-label">Author Image</label>
        <img style="width: 50px; height:60px" src="https://i.pinimg.com/enabled_lo_mid/236x/12/20/05/12200579b5389850dbfe2990fd906722.jpg" />
    </div>

    <div class="mb-3">
        <label for="description" class="form-label">Desciption</label>
        <input type="text" class="form-control" id="description">
    </div>

    <a href="/author/index" class="btn btn-primary">Go back</a>
</form>
