@page "/genre/create"
<h3>GenreCreate</h3>

<form>
    <div class="mb-3">
        <label for="IDGenre" class="form-label">Id</label>
        <input type="text" class="form-control" id="IDGenre" required>
    </div>
    <div class="mb-3">
        <label for="nameGenre" class="form-label">GenreName</label>
        <input type="text" class="form-control" id="nameGenre" required>
    </div>
    <div class="mb-3">
        <label for="ageLimit" class="form-label">AgeLimit	</label>
        <input type="number" class="form-control" id="ageLimit" required>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>