@page "/genre/detail"
<h3>GenreDetail</h3>

<form>
    <div class="mb-3">
        <label for="IDGenre" class="form-label">Id</label>
        <input type="text" class="form-control" id="IDGenre" value="TL01" readonly>
    </div>
    <div class="mb-3">
        <label for="nameGenre" class="form-label">GenreName</label>
        <input type="text" class="form-control" id="nameGenre" value="Cổ tích" readonly>
    </div>
    <div class="mb-3">
        <label for="ageLimit" class="form-label">AgeLimit</label>
        <input type="number" class="form-control" id="ageLimit" value="2" readonly>
    </div>
    <a href="/genre/index" class="btn btn-dark">Go back</a>
</form>