@page "/genre/create"
@using BookBlazorWasmAdmin.Services
@using BookData.Data.Entities
@inject IGenreApiClient _genreApiClient;
@inject NavigationManager nav;
<h3>GenreCreate</h3>

<EditForm Model="@GenreNew" OnValidSubmit="@OnValidSubmit">
    <MudCard>
         <MudCardContent>
            <MudTextField Label="Tên Thể Loại" @bind-Value="GenreNew.GenreName"></MudTextField>
            <MudTextField Label="Giới hạn độ tuổi" @bind-Value="GenreNew.AgeLimit"></MudTextField>
         </MudCardContent>
        <MudCardActions>
            <MudButton ButtonType="ButtonType.Submit" Variant="Variant.Filled" Color="Color.Success" Class="ml-auto">Submit</MudButton>
        </MudCardActions>
    </MudCard>
</EditForm>

@code{
    public Genre GenreNew = new();

    private async Task OnValidSubmit(EditContext context)
    {
        GenreNew.Id = Guid.NewGuid();
        var result = await _genreApiClient.CreateGenre(GenreNew);
        if (result)
        {
            nav.NavigateTo("/genre/index");
        }
        else
        {
            Console.WriteLine("Fail!");
        }
        StateHasChanged();
    }
}