@page "/genre/index"
<h3>GenreIndex</h3>

<a href="/genre/create" class="btn btn-primary">Create</a>
<table class="table">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Id</th>
            <th scope="col">GenreName </th>
            <th scope="col">AgeLimit</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">1</th>
            <td>TL01</td>
            <td>Cổ tích</td>
            <td>2</td>
            <td><a href="/genre/detail" class="btn btn-info">Detail</a> </td>
            <td><a href="/genre/delete" class="btn btn-danger">Delete</a></td>
        </tr>
        <tr>
            <th scope="row">2</th>
            <td>TL02</td>
            <td>Khoa học viễn tưởng</td>
            <td>14</td>
            <td><a href="/genre/detail" class="btn btn-info">Detail</a> </td>
            <td><a href="/genre/delete" class="btn btn-danger">Delete</a></td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>TL03</td>
            <td>Kinh doanh</td>
            <td>20</td>
            <td><a href="/genre/detail" class="btn btn-info">Detail</a> </td>
            <td><a href="/genre/delete" class="btn btn-danger">Delete</a></td>
        </tr>
        <tr>
            <th scope="row">4</th>
            <td>TL04</td>
            <td>Cơm áo gạo tiền</td>
            <td>30</td>
            <td><a href="/genre/detail" class="btn btn-info">Detail</a> </td>
            <td><a href="/genre/delete" class="btn btn-danger">Delete</a></td>
        </tr>
        <tr>
            <th scope="row">5</th>
            <td>TL05</td>
            <td>Làm quen với đất</td>
            <td>60</td>
            <td><a href="/genre/detail" class="btn btn-info">Detail</a> </td>
            <td><a href="/genre/delete" class="btn btn-danger">Delete</a></td>
        </tr>
    </tbody>
</table>