

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <MudNavMenu class="flex-column">

        <div class=" nav-item px-3">
            <MudNavLink  class="nav-link " href="counter">
                <span class="bi bi-plus-square-fill-nav-menu" aria-hidden="true"></span> Counter
            </MudNavLink>
        </div>

         <div class="nav-item px-3">
            <MudNavLink class="nav-link" href="/book/list">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Book
            </MudNavLink>
        </div>
        <div class="nav-item px-3">
            <MudNavLink class="nav-link" href="/author/index">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Author
            </MudNavLink>
        </div>
        <div class="nav-item px-3">
            <MudNavLink class="nav-link" href="/genre/index">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Genre
            </MudNavLink>
        </div>
        <div class="nav-item px-3">
            <MudNavLink class="nav-link" href="#">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Order
            </MudNavLink>
        </div>
        <div class="nav-item px-3">
            <MudNavLink class="nav-link" href="#">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Account
            </MudNavLink>
        </div>
    </MudNavMenu>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
<style>
    .nav-link {
        background-color: mediumpurple;
    }
</style>